body {
	background: rgba(3, 32, 1, 0.856);
	font-family: Helvetica, Arial, sans-serif;

}

#home{
	background: rgba(3, 32, 1, 0.856);
	color: white;
	padding: 60px;
}

.caixa1{
	padding: 7px ;
	border-bottom: 1px solid #e5e5e5 ;
	height: 940px; 
	color: seashell;
	background: url(../Imagens/tec1.jpg);
	
}
.caixa2{
	padding: 60px 0;
	text-align: right;
	border-bottom: 1px solid #e5e5e5 ;
	height: 940px; 
	color: seashell;
	background: url(../Imagens/tec2.jpg);
	
}
.caixa3{
	padding: 100px 0;
	border-bottom: 1px solid #e5e5e5 ;
	height: 940px; 
	color: seashell;
	
}
.caixa4{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5 ;
	height: 940px; 
	color: seashell;
	
}

footer p a {
	margin: 5px 15px;
}

a:link {
	text-decoration: none;
}
nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(3, 32, 1, 0.856);
}

a:hover{
	color: #FFF;
}

a{
	color: rgb(255, 175, 4);
}

.greenColor{
	background-color:  #233329;
}

.backForms{
	background-color: #deebdd5d;
	background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
	color: black;
	padding: 10px;
	border-radius: 10px;
	height: 440px;
}
.infos{
	margin-top: 100px;
	text-align: left;
}
.infos2{
	margin-top: 250px;
	text-align: justify;
}

.sendForms{
	color: white;
	background-color: rgba(3, 32, 1, 0.856)
}

.img1{
	background-image: url(imagens/tec1.jpg);
}

li{
	margin-left: 35px;
}

h4{
	text-align: center;
}